.general-message {
    text-align: center;
    font-style: italic;
    font-weight: 200;
    font-size: 3.5rem;
    padding: 2rem 1rem 1rem 1rem;
    border-top: 1px solid rgb(170, 170, 170)
}

.container-index {
    display: grid;
    grid-template-columns: 63% 37%;
    grid-template-rows: 20rem 11rem;
}

.item-a {
    display: flex;
    grid-column: 1;
    grid-row: 1 / 3;
}

.item-a-1 {
    width: 35%;
    text-align: center;
    background-color: rgba(80, 139, 80, 0.175);
    height: 100%;
    padding: 10% 1.5rem;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.item-a-1 div {
    font-size: 3rem;
    font-style: italic;
    font-weight: 200;
}

.item-a-1 span {
    font-family: sans-serif;
    font-weight: 600;
}

.item-a-2 {
    width: 65%;
    float: right;
}

.item-a-2 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.item-b {
    grid-column: 2;
    grid-row: 1;
    border-radius: 5px;
    position: relative;
}

.item-b-text {
    position: absolute;
    top: 0;
    left: 0;
    padding: 1.5rem 40% 1.5rem 1.5rem;
}

.item-b-text .d {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 600;
    font-size: 2rem;
    letter-spacing: 0.6px;
    padding-bottom: 1.2rem;
}

.item-b-text .index-item-a-1 {
    font-size: 1.5rem;
    font-weight: 900;
}

.item-b img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.item-c {
    grid-column: 2;
    grid-row: 2;
    background-color: rgba(80, 139, 80, 0.175);
    border-radius: 5px;
    margin-top: 2rem;
}

.index-item-align {
    display: flex;
    align-items: center;
}

.index-item-arr-a {
    padding-left: 0.5rem;
    padding-top: 5rem;
    font-size: 2rem;
}

.index-item-arr-b {
    padding-left: 1rem;
    font-size: 3rem;
    padding-bottom: .3rem;
}

.index-item-box {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    letter-spacing: 1px;
    text-align: center;
}

.index-item-box div span {
    margin-bottom: .4rem;
    padding-left: 1rem;
    font-size: 2rem;
}

.container-index-2 {
    display: grid;
    grid-template-columns: 33.3% 33.3% 33.3%;
    grid-template-rows: 100%;
    padding: 0 1.5rem;
}

.index-2__item {
    text-align: center;
    padding-right: 12%;
}

.index-2__item:last-child {
    padding-right: 0;
}

.index-2__item-title {
    display: flex;
    justify-content: center;
    font-family: 'Quicksand', sans-serif;
    font-weight: 500;
}

.index-2__item-text {
    font-family: 'Quicksand', sans-serif;
    font-weight: 400;
    word-spacing: 1px;
    font-size: 1.5rem;
}

.index-2__item-title i {
    color: rgb(238, 116, 16);
    margin-right: 1rem;
    margin-top: 2px;
    font-size: 2rem;
}

.index-2__item-title div {
    font-size: 2rem;
    padding-bottom: 1rem;
}

.index-3__items {
    display: grid;
    padding: 1rem 0 1rem 1rem;
    margin-top: 3rem;
    grid-template-columns: 16.6% 16.6% 16.6% 16.6% 16.6% 16.6%;
    grid-template-rows: 63% 37%;
}

.index-3__items-item {
    position: relative;
    padding-right: 1.3rem;
    transition: .2s ease;
}

.index-3__items-item:hover img {
    transition: .2s ease;
    transform: scale(1.03);
    box-shadow: 0 0 0.5rem 0.25rem rgba(19, 19, 19, 0.26);   
}

.index-3__items-item-heart {
    opacity: 0;
    color: white;
    position: absolute;
    top: 3%;
    right: 13%;
    font-size: 2rem;
    text-shadow: 0 4px 5px 5px rgba(0, 0, 0, 0.562);
    background-color: transparent;
    border: none;
    z-index: 20;
    cursor: pointer;
    transition: .2s ease;
}

.index-3__items-heart {
    width: 25px;
    height: 25px;
    filter: drop-shadow( 3px 3px 2px rgba(0, 0, 0, .8));
}

.index-3__items-heart-white {
    fill: white;
}

.index-3__items-heart-red {
    fill: red;
}

.index-3__items-item:hover .index-3__items-item-heart {
    opacity: 1;   
}

.index-3__items-item-heart:hover {
    transform: scale(1.1);
}

.index-3__items-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.index-3__title {
    text-align: center;
    font-size: 3rem;
    font-style: italic;
    font-weight: 500;
}

.index-3__item-price {
    font-weight: 700;
    font-size: 1.8rem;
}

.index-3__item-title {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.index-3__item-raiting i {
    font-size: 1.2rem;
    color: rgb(25, 25, 25);
}

.index-3__item-raiting span {
    font-style: italic;
    font-weight: 200;
    font-size: 1.4rem;
}

.bottom {
    background-color: rgb(255, 237, 204);
    margin-top: 5rem;
}

.bottom-container {
    padding: 5rem 0.5rem 2rem 0.5rem;
}

.bottom-title h1 {
    font-size: 4rem;
}

.bottom-title a,
.bottom-title a:visited {
    font-family: 'Quicksand', sans-serif;
    font-size: 1.5rem;
    text-decoration: underline;
}

.bottom-title a:hover {
    color: rgb(105, 105, 105);
}

.bottom-container div {
    margin-bottom: 3rem;
}

.index-4-item h2 {
    font-size: 3rem;
    margin-bottom: 0.6rem;
}

.index-4-item p {
    font-size: 1.65rem;
    font-weight: 400;
}

.index-4-btn {
    font-weight: bold;
    border: 2px solid black;
}

.bottom-last-p {
    font-family: 'Quicksand', sans-serif;
    font-weight: 500;
    font-size: 2.3rem;
}

@media screen and (min-width: 1200px) {
    .index-4-row {
        display: grid;
        grid-template-columns: 33% 33% 33%;
    }
}

.index-4-item {
    padding: 1rem 3rem;
}

.index-4-item p {
    line-height: 28px;
}

